<html lang="en" suppressHydrationWarning>
      <Head backgroundColor={{ dark: '#0f172a', light: '#fefce8' }} />
      <body>
        <Layout>
          <Navbar pageMap={await getPageMap()}>
            <Search placeholder="Search..." />
            <ThemeSwitch />
          </Navbar>

          {children}

          <Footer>
            <div style={{ float: 'right', display: 'inline-block' }}>
              <a href="https://www.linkedin.com/in/alexanderreyeswainwright" target="_blank" style={{ display: 'inline-block', paddingRight: '0.2rem' }}>
                LinkedIn
              </a>
              <p style={{ display: 'inline-block' }}>;</p>
              <a href="https://github.com/alexander-rw" target="_blank" style={{ display: 'inline-block', paddingLeft: '0.2rem', paddingRight: '0.2rem'  }}>
                GitHub
              </a>
            </div>
          </Footer>
        </Layout>
      </body>
    </html>